/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/* line 6, ../sass/print.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/print.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* line 16, ../sass/print.scss */
#wrapper {
  overflow: hidden;
}
/* line 23, ../sass/print.scss */
#wrapper #header-mobile .navbar {
  background: #f5f5f5;
  border: none;
  padding: 0;
}
/* line 27, ../sass/print.scss */
#wrapper #header-mobile .navbar .bg-search {
  width: 100%;
  background: #fff;
  padding: 20px 0;
}
/* line 33, ../sass/print.scss */
#wrapper #header-mobile .navbar-header {
  width: 100%;
}
/* line 38, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .menus {
  position: relative;
  z-index: 2;
}
/* line 42, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .logo {
  margin-top: 15px;
}
/* line 45, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .centerMobile {
  position: relative;
}
/* line 47, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .centerMobile a {
  display: block;
  text-align: center;
}
/* line 51, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .centerMobile .shop-act-list {
  position: absolute;
  right: 0;
  top: 10px;
  margin-top: 0;
}
/* line 59, ../sass/print.scss */
#wrapper #header-mobile .navbar-toggler {
  padding: 13px 0;
  outline: none;
}
/* line 62, ../sass/print.scss */
#wrapper #header-mobile .navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
  margin-bottom: 5px;
}
/* line 73, ../sass/print.scss */
#wrapper #header-mobile #navbar ul li {
  padding: 10px 0;
}
/* line 75, ../sass/print.scss */
#wrapper #header-mobile #navbar ul li a {
  color: #0096d9;
}
/* line 81, ../sass/print.scss */
#wrapper #header-mobile .form-inline {
  position: relative;
  margin-top: 7px;
}
/* line 84, ../sass/print.scss */
#wrapper #header-mobile .form-inline input {
  background: transparent;
  width: 100% !IMPORTANT;
  margin-left: 0 !important;
}
/* line 89, ../sass/print.scss */
#wrapper #header-mobile .form-inline .fa-search {
  top: 30%;
  position: absolute;
  right: 10px;
  color: #fff;
}
/* line 96, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list {
  margin-top: 15px;
  display: inline-block;
}
/* line 99, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 102, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul .search {
  margin-top: 3px;
}
/* line 105, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 15px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  /* line 105, ../sass/print.scss */
  #wrapper #header-mobile .shop-act-list ul li {
    margin-right: 10px;
  }
}
/* line 114, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li:last-child {
  margin-right: 0;
}
/* line 117, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .fa-search {
  top: 30%;
  position: absolute;
  right: 10px;
  color: #fff;
}
/* line 123, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .count {
  position: absolute;
  background: #ffc53e;
  color: #333;
  font-size: 8px;
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}
/* line 135, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .cart {
  position: relative;
}
/* line 138, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .notif {
  position: relative;
}
/* line 144, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile {
  margin-top: 150px;
}
/* line 147, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile .img img {
  width: 100%;
  object-fit: cover;
}
/* line 152, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile .slick-dots {
  text-align: center;
  position: absolute;
  bottom: -70px;
  left: 0;
  right: 0;
}
@media screen and (max-width: 480px) {
  /* line 152, ../sass/print.scss */
  #wrapper #header-mobile .banner-mobile .slick-dots {
    text-align: left;
    left: 15px;
    bottom: 0;
  }
}
/* line 163, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile .slick-dots li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
/* line 167, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile .slick-dots li button {
  text-indent: -9999px;
  border: none;
  background: #ddd;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
/* line 177, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile .slick-dots .slick-active button {
  background: #e3211d;
}
/* line 185, ../sass/print.scss */
#wrapper #top {
  background: #f5f5f5;
  height: 30px;
  line-height: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 189, ../sass/print.scss */
  #wrapper #top .top-cols {
    font-size: 12px;
  }
}
/* line 194, ../sass/print.scss */
#wrapper #top .top-cols .left .cols {
  margin-left: 20px;
}
/* line 196, ../sass/print.scss */
#wrapper #top .top-cols .left .cols a {
  padding-left: 20px;
}
/* line 200, ../sass/print.scss */
#wrapper #top .top-cols .left .tlp {
  background: url(../img/ico-tlp.png) no-repeat left;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 200, ../sass/print.scss */
  #wrapper #top .top-cols .left .tlp {
    margin-left: 10px;
  }
}
/* line 206, ../sass/print.scss */
#wrapper #top .top-cols .left .email {
  background: url(../img/ico-mail.png) no-repeat left;
  margin-left: 0;
}
/* line 211, ../sass/print.scss */
#wrapper #top .top-cols .right {
  text-align: right;
}
/* line 213, ../sass/print.scss */
#wrapper #top .top-cols .right .cols {
  margin-right: 15px;
}
/* line 215, ../sass/print.scss */
#wrapper #top .top-cols .right .cols:last-child {
  padding-left: 20px;
  margin-right: 0;
  border-left: 1px solid #d8d8d8;
}
/* line 221, ../sass/print.scss */
#wrapper #top .top-cols .right .maps {
  background: url(../img/ico-location.png) no-repeat left;
}
/* line 223, ../sass/print.scss */
#wrapper #top .top-cols .right .maps a {
  padding-left: 20px;
}
/* line 228, ../sass/print.scss */
#wrapper #top .top-cols .cols {
  display: inline-block;
}
/* line 230, ../sass/print.scss */
#wrapper #top .top-cols .cols a {
  color: #666666;
}
/* line 233, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle {
  background: transparent;
  border: none;
  padding: 0;
}
/* line 237, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle img {
  float: left;
  margin-top: 5px;
}
/* line 241, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle .txt {
  float: left;
  line-height: 8px;
  margin: 7px 5px;
}
/* line 246, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle .caret {
  color: #666;
  float: left;
  margin-top: 2px;
}
/* line 252, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-menu {
  min-width: 70px;
  padding: 10px;
}
/* line 260, ../sass/print.scss */
#wrapper #header {
  padding: 30px 0 20px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06);
}
/* line 263, ../sass/print.scss */
#wrapper #header .logo {
  padding-right: 0;
}
/* line 265, ../sass/print.scss */
#wrapper #header .logo img {
  max-width: 100%;
}
/* line 269, ../sass/print.scss */
#wrapper #header .search-top {
  padding-left: 0;
}
/* line 271, ../sass/print.scss */
#wrapper #header .search-top .form-inline {
  background: #fff;
  font-size: 12px;
  border: 1px solid #cccccc;
}
/* line 275, ../sass/print.scss */
#wrapper #header .search-top .form-inline input {
  border: none;
  background: none;
  width: 68%;
}
/* line 280, ../sass/print.scss */
#wrapper #header .search-top .form-inline .dropdown-toggle {
  padding-right: 15px !Important;
}
/* line 283, ../sass/print.scss */
#wrapper #header .search-top .form-inline .filter-option-inner-inner {
  font-size: 13px;
  padding-top: 2px;
}
/* line 287, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select {
  width: 140px;
}
@media screen and (max-width: 768px) {
  /* line 287, ../sass/print.scss */
  #wrapper #header .search-top .form-inline .bootstrap-select {
    width: 70px;
  }
}
/* line 292, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select .selectpicker {
  background: none;
}
/* line 295, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select .dropdown-toggle {
  background: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  padding: 0 10px;
  color: #666;
}
/* line 306, ../sass/print.scss */
#wrapper #header .search-top .dropdown-toggle {
  font-size: 13px;
  border-radius: 0;
}
/* line 310, ../sass/print.scss */
#wrapper #header .search-top .dropdown-toggle:after {
  border: none;
  width: 0;
  height: 0;
}
/* line 316, ../sass/print.scss */
#wrapper #header .search-top .category-solid {
  border: none;
}
/* line 318, ../sass/print.scss */
#wrapper #header .search-top .category-solid > i {
  margin-right: 20px;
}
/* line 322, ../sass/print.scss */
#wrapper #header .search-top .search-btn {
  background: #e3211d;
  width: 75px;
  height: 38px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  box-shadow: none;
  border-radius: 0;
}
/* line 334, ../sass/print.scss */
#wrapper #header .top-right {
  padding: 7px 0 0;
}
/* line 336, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list {
  padding-right: 0;
}
@media screen and (min-width: 568px) and (max-width: 1024px) {
  /* line 336, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list {
    max-width: 100% !IMPORTANT;
    width: 100%;
    flex: none;
  }
}
/* line 343, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 346, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 9px;
  cursor: pointer;
  font-size: 13px;
}
/* line 353, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .count {
  position: absolute;
  background: #c81322;
  color: #fff;
  font-size: 8px;
  top: -5px;
  left: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}
/* line 365, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart {
  position: relative;
}
/* line 367, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart:after {
  display: none;
}
/* line 370, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 {
  display: none;
  width: 275px;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 1px 1px 3px #b0b0b070;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 370, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 {
    left: -200px;
  }
}
/* line 383, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li {
  float: none;
  margin: 0;
  position: relative;
  padding: 8px 30px;
  margin: 10px 20px;
  border-bottom: 1px solid #b0b0b070;
}
/* line 390, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(1) {
  background: url(../img/top-cart.png) no-repeat left;
}
/* line 393, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(2) {
  background: url(../img/top-chat.png) no-repeat left;
}
/* line 396, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(3) {
  background: url(../img/top-user.png) no-repeat left;
  border: none;
}
/* line 400, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li a {
  color: #999;
}
/* line 403, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li span {
  position: absolute;
  right: 10px;
  font-weight: bold;
}
/* line 411, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product {
  padding: 10px;
  font-size: 12px;
}
/* line 414, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 417, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .title {
  color: #666;
}
/* line 420, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .price {
  color: #333;
}
/* line 425, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .txt {
  padding: 20px 10px;
  color: #999;
}
/* line 429, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .subtotal {
  padding: 20px 10px;
  color: #999;
}
/* line 432, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .subtotal .total {
  font-weight: bold;
  color: #333;
}
/* line 438, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
/* line 442, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product img {
  width: 100%;
}
/* line 445, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 448, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .title {
  color: #666;
}
/* line 451, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .price {
  color: #333;
}
/* line 458, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif {
  position: relative;
}
/* line 460, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif:after {
  display: none;
}
/* line 463, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux {
  display: none;
  width: 275px;
  position: absolute;
  left: -100px;
  top: 40px;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 1px 1px 3px #b0b0b070;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 463, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux {
    left: -200px;
  }
}
/* line 476, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li {
  float: none;
  margin: 0;
  position: relative;
  padding: 8px 30px;
  margin: 10px 20px;
  border-bottom: 1px solid #b0b0b070;
}
/* line 483, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(1) {
  background: url(../img/top-cart.png) no-repeat left;
}
/* line 486, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(2) {
  background: url(../img/top-chat.png) no-repeat left;
}
/* line 489, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(3) {
  background: url(../img/top-user.png) no-repeat left;
  border: none;
}
/* line 493, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li a {
  color: #999;
}
/* line 496, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li span {
  position: absolute;
  right: 10px;
  font-weight: bold;
}
/* line 504, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product {
  padding: 10px;
  font-size: 12px;
}
/* line 507, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 510, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .title {
  color: #666;
}
/* line 513, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .price {
  color: #333;
}
/* line 518, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .txt {
  padding: 20px 10px;
  color: #999;
}
/* line 522, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .subtotal {
  padding: 20px 10px;
  color: #999;
}
/* line 525, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .subtotal .total {
  font-weight: bold;
  color: #333;
}
/* line 531, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
/* line 535, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product img {
  width: 100%;
}
/* line 538, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 541, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .title {
  color: #666;
}
/* line 544, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .price {
  color: #333;
}
/* line 555, ../sass/print.scss */
#wrapper #header .top-right .user-act-list {
  padding: 0;
}
@media screen and (max-width: 768px) {
  /* line 555, ../sass/print.scss */
  #wrapper #header .top-right .user-act-list {
    display: none;
  }
}
/* line 560, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 563, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul li {
  list-style: none;
  float: left;
  margin-right: 15px;
}
/* line 567, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul li:last-child {
  margin-right: 0;
}
/* line 570, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul li a {
  padding-left: 0px;
  color: #666;
  font-size: 13px;
}
/* line 578, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign {
  background: url(../img/top-icon-4.jpg) no-repeat -10%;
  padding-left: 25px;
  border-right: 1px solid #d8d8d8;
  padding-right: 18px;
}
/* line 583, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop {
  position: absolute;
  background: #fff;
  left: -120px;
  z-index: 9;
  width: 350px;
  padding: 20px;
  border-color: #ececec;
}
/* line 591, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .flexo {
  padding: 0 20px;
}
/* line 593, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .flexo .right {
  font-size: 12px;
}
/* line 597, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .input-group-btn {
  position: absolute;
  right: 0;
}
/* line 600, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .input-group-btn button {
  border: none;
  background: none;
  color: #333;
}
/* line 606, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .login-btn {
  background: #c81423;
  color: #fff;
  width: 100%;
  border-radius: 25px;
}
/* line 612, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop input {
  border-radius: 25px;
}
/* line 623, ../sass/print.scss */
#wrapper #menus-wrapper .bg-kategori {
  padding-right: 0;
}
/* line 625, ../sass/print.scss */
#wrapper #menus-wrapper .bg-kategori h5 {
  background: #c81423 url(../img/burger-menu.png) no-repeat 8%;
  color: #fff;
  padding: 15px 50px;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  /* line 625, ../sass/print.scss */
  #wrapper #menus-wrapper .bg-kategori h5 {
    padding: 15px 0px 15px 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 625, ../sass/print.scss */
  #wrapper #menus-wrapper .bg-kategori h5 {
    font-size: 14px;
    padding: 15px 10px 15px 35px;
  }
}
/* line 639, ../sass/print.scss */
#wrapper #menus-wrapper .menus {
  text-align: right;
}
/* line 641, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul {
  padding: 15px 0;
  margin: 0;
}
/* line 644, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  margin: 0 20px;
}
/* line 650, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li:last-child {
  margin-right: 0;
}
/* line 653, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li a {
  color: #666;
  text-decoration: none;
  font-weight: bold;
}
/* line 657, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li a:hover {
  color: #c81423;
}
/* line 661, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li .active {
  color: #c81423;
}
/* line 669, ../sass/print.scss */
#wrapper #banner-wrapper {
  background: #fafafa;
}
/* line 671, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper {
  padding-right: 0;
}
/* line 673, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category {
  background: #420006;
  padding: 20px;
  height: 416px;
}
/* line 677, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul {
  padding: 0;
  margin: 0;
}
/* line 680, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul li {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-left: 30px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  /* line 680, ../sass/print.scss */
  #wrapper #banner-wrapper .list-cat-wrapper .list-category ul li {
    margin-bottom: 5px;
    font-size: 12px;
  }
}
/* line 690, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul li a {
  display: block;
  color: #fff;
}
/* line 695, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .elektronik {
  background: url(../img/cat-ico-clock.png) no-repeat left;
}
/* line 698, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .hp {
  background: url(../img/cat-ico-phone.png) no-repeat left;
}
/* line 701, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .laptop {
  background: url(../img/cat-ico-tv.png) no-repeat left;
}
/* line 704, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .fashion {
  background: url(../img/cat-ico-fashion.png) no-repeat left;
}
/* line 707, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .fashion2 {
  background: url(../img/cat-ico-fashion2.png) no-repeat left;
}
/* line 710, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .beauty {
  background: url(../img/cat-ico-body.png) no-repeat left;
}
/* line 713, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .health {
  background: url(../img/cat-ico-health.png) no-repeat left;
}
/* line 716, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .bodyshop {
  background: url(../img/cat-ico-art.png) no-repeat left;
}
/* line 719, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul .others {
  background: url(../img/cat-ico-others.png) no-repeat left;
}
/* line 728, ../sass/print.scss */
#wrapper #banner-wrapper .right-cols .block:first-child {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 734, ../sass/print.scss */
  #wrapper #banner-wrapper .block img {
    width: 100%;
  }
}
/* line 740, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col {
  padding-right: 0;
  padding-left: 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 740, ../sass/print.scss */
  #wrapper #banner-wrapper .banner-col {
    padding-right: 15px;
  }
}
/* line 746, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .slidebanner {
  outline: none;
}
/* line 748, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .slidebanner .slick-next {
  outline: none;
  position: absolute;
  right: 5%;
  background: url(../img/next.png) no-repeat left;
  width: 24px;
  height: 50px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
}
/* line 760, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .slidebanner .slick-prev {
  outline: none;
  position: absolute;
  z-index: 9;
  left: 5%;
  background: url(../img/prev.png) no-repeat left;
  width: 24px;
  height: 50px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
}
/* line 773, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .slidebanner .slick-dots {
  text-align: left;
  background: #fff;
  height: 40px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
}
/* line 779, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .slidebanner .slick-dots li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
/* line 783, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .slidebanner .slick-dots li button {
  text-indent: -9999px;
  border: none;
  background: #d7d7d7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
/* line 793, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .slidebanner .slick-dots .slick-active button {
  background: #e3211d;
}
/* line 800, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner img {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 800, ../sass/print.scss */
  #wrapper #banner-wrapper .banner-col .banner img {
    height: 180px;
  }
}
/* line 808, ../sass/print.scss */
#wrapper #banner-wrapper .small-banner {
  padding-left: 0;
}
/* line 811, ../sass/print.scss */
#wrapper #banner-wrapper .small-banner .block img {
  height: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 811, ../sass/print.scss */
  #wrapper #banner-wrapper .small-banner .block img {
    height: 155px;
  }
}
/* line 821, ../sass/print.scss */
#wrapper #content-wrapper {
  background: #fafafa;
  padding-top: 50px;
}
/* line 825, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top h3 {
  font-weight: bold;
  color: #333;
  background: url(../img/border.png) no-repeat left;
  padding-left: 10px;
  display: inline-block;
  font-size: 16px;
}
@media screen and (min-width: 568px) {
  /* line 825, ../sass/print.scss */
  #wrapper #content-wrapper .menu-after-top h3 {
    width: 40%;
  }
}
/* line 836, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .list-menu {
  display: inline-block;
}
@media screen and (min-width: 568px) {
  /* line 836, ../sass/print.scss */
  #wrapper #content-wrapper .menu-after-top .list-menu {
    display: inline-block !Important;
  }
}
/* line 842, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .list-menu ul li {
  display: inline-block;
  margin-right: 20px;
}
/* line 845, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .list-menu ul li a {
  color: #999;
  text-decoration: none;
}
/* line 848, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .list-menu ul li a:hover {
  color: #c81423;
}
/* line 856, ../sass/print.scss */
#wrapper #content-wrapper .banner-after-menu {
  margin-bottom: 20px;
}
/* line 858, ../sass/print.scss */
#wrapper #content-wrapper .banner-after-menu img {
  width: 100%;
}
/* line 865, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .highlight img {
  width: 100%;
}
/* line 868, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .highlight a {
  color: #fff !Important;
}
/* line 872, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .slide-product {
  outline: none;
}
/* line 874, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-prev {
  outline: none;
  position: absolute;
  z-index: 9;
  background: url(../img/prev.png) no-repeat left;
  width: 24px;
  height: 50px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
}
/* line 886, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-next {
  outline: none;
  position: absolute;
  right: 0;
  background: url(../img/next.png) no-repeat left;
  width: 24px;
  height: 50px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
}
/* line 899, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block {
  background: #fff;
  float: left;
  width: 200px;
  height: 305px;
}
@media screen and (max-width: 480px) {
  /* line 899, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block {
    height: auto;
  }
}
/* line 907, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 20px;
  position: relative;
}
/* line 913, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a:hover {
  box-shadow: 2px 0px 30px 5px #ccc;
}
@media screen and (max-width: 768px) {
  /* line 907, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a {
    padding: 20px 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 907, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a {
    padding: 20px;
  }
}
/* line 922, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .img {
  min-height: 162px;
}
@media screen and (max-width: 480px) {
  /* line 922, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .img {
    display: flex;
    align-items: center;
  }
}
/* line 928, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .img img {
  width: 100%;
}
/* line 932, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .title {
  margin-bottom: 10px;
  color: #666;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 932, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .title {
    padding: 0 10px;
  }
}
/* line 939, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .price {
  color: #333;
  font-weight: bold;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 939, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .price {
    padding: 0 10px;
  }
}
/* line 946, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a strike {
  color: #999;
  font-size: 12px;
  margin-top: 0px;
  display: inherit;
}
/* line 952, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .percent {
  color: #e3211d;
  font-size: 17px;
  font-weight: bold;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 952, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .percent {
    padding: 0 10px;
  }
}
/* line 960, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list {
  margin-top: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 960, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .star-list {
    padding: 0 10px;
  }
}
/* line 965, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list ul {
  float: left;
  padding: 0;
  margin: 0;
}
/* line 969, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list ul li {
  list-style: none;
  display: inline-block;
}
/* line 974, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list .review {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 10px;
  color: #999;
}
@media screen and (max-width: 768px) {
  /* line 974, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .star-list .review {
    margin-left: 0;
  }
}
/* line 990, ../sass/print.scss */
#wrapper #content-wrapper #banner-ads {
  padding: 50px 0;
  background: #f5f5f5;
}
/* line 994, ../sass/print.scss */
#wrapper #content-wrapper #banner-ads .banner img {
  object-fit: cover;
  width: 100%;
}
/* line 1000, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper {
  margin: 50px 0;
}
/* line 1002, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper h3 {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  background: url(../img/border.png) no-repeat left;
  padding-left: 10px;
}
/* line 1009, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category {
  background: #e3211d;
  padding: 20px;
}
/* line 1012, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul {
  padding: 0;
  margin: 0;
}
/* line 1015, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li {
  list-style: none;
  float: left;
  width: 10%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  /* line 1015, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .list-category ul li {
    width: 20%;
    height: 65px;
    margin-bottom: 20px;
  }
}
/* line 1025, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a {
  display: block;
  text-align: center;
}
@media screen and (max-width: 480px) {
  /* line 1029, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .list-category ul li a .img img {
    width: 100%;
  }
}
/* line 1035, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a .txt {
  text-transform: capitalize;
  line-height: normal;
  color: #fff;
  font-size: 13px;
}
@media screen and (max-width: 480px) {
  /* line 1035, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .list-category ul li a .txt {
    font-size: 10px;
  }
}
/* line 1050, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper {
  margin: 50px 0;
}
/* line 1052, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper h3 {
  font-weight: bold;
  color: #333;
}
/* line 1058, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
  width: 16.66666667%;
  height: 282px;
  margin-bottom: 20px;
  border-right: 10px solid #fafafa;
}
@media screen and (min-width: 768px) {
  /* line 1058, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 1058, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
    width: 50%;
    padding: 0;
  }
}
/* line 1070, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a {
  height: 100%;
  position: relative;
  z-index: 9;
  padding: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1070, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a {
    padding: 0;
  }
}
/* line 1078, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list {
  margin-top: 0;
}
/* line 1081, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .percent {
  margin-left: 10px;
}
/* line 1084, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img {
  min-height: 140px;
}
@media screen and (max-width: 768px) {
  /* line 1084, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img {
    min-height: 50px;
  }
  /* line 1088, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img img {
    width: 100%;
  }
}
/* line 1092, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img img {
  width: 100%;
}
/* line 1097, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul {
  width: 45%;
}
@media screen and (max-width: 768px) {
  /* line 1097, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul {
    width: 100%;
  }
}
/* line 1102, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul li {
  margin-right: -5px;
}
/* line 1110, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .seemore {
  text-align: center;
  text-transform: capitalize;
}
/* line 1113, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .seemore a {
  background: #c81423;
  padding: 10px 20px;
  display: block;
  color: #fff;
}
/* line 1124, ../sass/print.scss */
#wrapper #footer-wrapper {
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1128, ../sass/print.scss */
  #wrapper #footer-wrapper .logo img {
    width: 100%;
  }
}
/* line 1133, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper {
  padding: 50px 0;
}
/* line 1135, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block {
  text-align: center;
}
@media screen and (max-width: 480px) {
  /* line 1135, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block {
    height: 150px;
    margin-bottom: 15px;
  }
}
/* line 1141, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block:last-child {
  background: none;
}
/* line 1144, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .img {
  display: inline-block;
  margin-bottom: 10px;
}
/* line 1147, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .img img {
  height: 60px;
}
/* line 1151, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .title {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}
/* line 1157, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .desc {
  font-size: 14px;
  color: #666;
}
@media screen and (max-width: 768px) {
  /* line 1157, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block .desc {
    font-size: 12px;
  }
}
/* line 1166, ../sass/print.scss */
#wrapper #footer-wrapper .footer {
  color: #666;
  line-height: normal;
  font-size: 13px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1166, ../sass/print.scss */
  #wrapper #footer-wrapper .footer {
    font-size: 12px;
  }
}
/* line 1173, ../sass/print.scss */
#wrapper #footer-wrapper .footer .title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  /* line 1173, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .title {
    width: 50%;
    font-size: 18px;
    margin-top: 20px;
  }
}
/* line 1183, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address {
  margin-top: 35px;
}
@media screen and (max-width: 480px) {
  /* line 1183, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .list-address {
    margin-top: 20px;
  }
}
/* line 1188, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul {
  padding: 0;
  margin: 0;
}
/* line 1191, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li {
  list-style: none;
  margin-bottom: 10px;
  padding-left: 25px;
}
/* line 1195, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(1) {
  background: url(../img/footer-maps.png) no-repeat left;
}
/* line 1198, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(2) {
  background: url(../img/footer-phone.png) no-repeat left;
}
/* line 1201, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(3) {
  background: url(../img/footer-mail.png) no-repeat left;
}
/* line 1207, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus {
  margin-top: 20px;
}
/* line 1209, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul {
  padding: 0;
  margin: 0;
}
/* line 1212, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 13px;
}
/* line 1216, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul li a {
  color: #666;
}
/* line 1222, ../sass/print.scss */
#wrapper #footer-wrapper .footer .img-wrap {
  padding-right: 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1225, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .img-wrap img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1230, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .list-blog {
    font-size: 12px;
  }
}
/* line 1234, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog {
  border-bottom: 1px solid #333;
  padding: 15px 0;
}
/* line 1237, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog:last-child {
  border: none;
}
/* line 1240, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog a {
  color: #666;
}
/* line 1248, ../sass/print.scss */
#wrapper #bottom {
  text-align: center;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  background: #e3211d;
}
/* line 1254, ../sass/print.scss */
#wrapper #bottom a {
  color: #fff;
}
